<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            id
          </th>
          <th>
            changes
          </th>
          <th>
            name
          </th>
          <th>
            removed
          </th>
        </tr>
        <tr *ngFor="let change of changes">
          <td>
            {{change.id}}
          </td>
          <td >
            {{change.changes}}
          </td>
          <td >
            {{change.name}}
          </td>
          <td >
            {{change.removed}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>