.bg-right {
    background-color: #d14671;
}

.bg-left, form {
    background-color: #243441;
}

.col-md-6 {
    min-height: 100vh;
    border-radius: 1%;
}

form {
    text-align: center;
    padding: 10%;
    height: 60%;
    margin-top: 20%;
    border-radius: 2%;
    width: 60%;
    margin-left: 25%;
}

input, label, button {
    color: #c2c7ca;
    background-color: transparent;
    
}

input, button {
    text-align: center;
    border-color: #c2c7ca;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

button {
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
}

.login-icon {
    width: 100%;
    height: auto;
    color: #c2c7ca;
    margin-bottom: 10%;
}
