<div class="container">
  <div class = "row">
    <div class = "col-md-12">
      <h1>Welcome {{user.username}}</h1>

      <br>
      <br>

    <p>Se sei venuto per effettuare una conversione di un file XML o un file JSON sei nel posto giusto! </p>
    <p> Utilizza la NAVBAR per muoverti con libertà all'interno del nostro sito: </p>
      <p>  - Nella pagina User potrai vedere la tua homepage utente; </p>
        <p> - Nella pagina Conversione potrai effettuare una nuova conversione da XML a JSON oppure da JSON ad XML; </p>
          <p> - Nella pagina MYCONVERSION potrai vedere il log di tutte le tue CONVERSIONI; </p>
            <p> - Per te che sei un nostro ADMIN potrai inserire, modificare, eliminare e vedere tutti gli utenti iscritti al nostro sito,
        Inoltre potrai vedere tutti i log degli utenti registrati nella pagina ALLCONVERSION.</p>
    </div>
  </div>
</div>
 