<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            id
          </th>
          <th>
            source
          </th>
          <th>
            output
          </th>
          <th>
            changes
          </th>
        </tr>
        <tr *ngFor="let conversion of conversions">
          <td>
            {{conversion.idConversion}}
          </td>
          <td >
            {{conversion.source}}
          </td>
          <td >
            {{conversion.outputType}}
          </td>
          <td >
            {{conversion.sourceType}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>