
<div class="container">
  <div class="row header">
    <div class="col-md-2 offset-md-5">
      <p>My account</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Username</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.username">
      </div>
    </div>

    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Password</span>
        </div>
        <input type="password" class="form-control" [(ngModel)]="user.password">
      </div>
    </div>

    <div class="col-md-4 offset-md-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">User Type</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="user.usertype">
      </div>
    </div>

    <div class="col-md-4 offset-md-4">
      <button class="btn btn-outline-secondary" type="button" (click)="saveChanges()">Button</button>
    </div>
    

  </div>
</div>
